.basic-grid {
	display: grid;
	gap: 1rem;

	grid-template-columns: repeat(
		auto-fit,
		minmax(240px, 1fr)
	); /*smallest is 240px otherwise fractional*/
}
.basic-grid-fill {
	display: grid;
	gap: 1rem;

	grid-template-columns: repeat(
		auto-fill,
		minmax(240px, 1fr)
	); /*smallest is 240px otherwise fractional*/
}
